*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    overflow-x: hidden;
    font-family: "Releway",sans-serif;
}


#header{
    position: relative;
    width: 100%;

}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background:rgba(0,0,0,0.7);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu.logo-box{
    margin-left: 20px;
    

}

.menu .logo-box h1{
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: white;
    font-family: cursive;
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container ul{
display: flex;
}
.menu .list-container ul li {
    list-style: none;
}
.menu .list-container ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: white;
    border-radius: 24px;
    transition: 0.3s ;
    font-size: 16px;
}
.menu .list-container ul li a.activo{
    background-color: gray;
    color: #fff;
}


.menu .list-container ul li a:hover{
    background-color:powderblue;
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;

} 

.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("https://static.wixstatic.com/media/a7b570_31504d312f7e466596ddfce697150f5d~mv2.jpg/v1/fill/w_640,h_346,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/a7b570_31504d312f7e466596ddfce697150f5d~mv2.jpg");
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
}

.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}

.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}

.img-header .welcome p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #fff;
    background: rgba(0,0,0,0.7);
    margin-top: 20px;
    width: 500px;
    text-align: center;
    
}



.testimonios{
    width: 100%;
    margin-top: 90px;
    background: rgb(216, 206, 206);
   
}

.testimonios .testimonios-title{
    width: 50%;
    margin: auto;
    text-align: center;
}
.testimonios .testimonios-title h2{
    font-size: 50px;
    font-weight: normal;
    color: black;
    margin-bottom: 10px;
}

.testimonios .testimonios-title hr{
    width: 60px;
    height: 2px;
    margin: auto;
    background: black;
}

.testimonios .box-testimonio{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    
}

.testimonios .box-testimonio .card-testimonio{
    width: 45%;
    margin: 20px;
   

}
.testimonios .box-testimonio .card-testimonio .card-img{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.testimonios .box-testimonio .card-testimonio .card-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    
}

.testimonios .box-testimonio .card-testimonio .testimonio-text{
    border: 2px solid palevioletred;
    padding: 20px;
    border-radius: 20px;
    transition: 0.1s;
   
}
.testimonios .box-testimonio .card-testimonio .testimonio-text h4{
    font-size: 30px;
    font-weight: 400;
    color: palevioletred;
    text-align: center;
    margin-bottom: 10px;
    transition: 0.1s;
}
.testimonios .box-testimonio .card-testimonio .testimonio-text p{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: black;
    font-family: cursive;
}

.testimonios .box-testimonio .card-testimonio .testimonio-text:hover{
    border: 2px solid turquoise;
}
.testimonios .box-testimonio.card-testimonio .testimonio-text:hover h4{
    color: turquoise;
}
